body {
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    margin: 10px;
}

label {
    padding: 5px;
    margin: 5px;
}
textarea {
    min-height: 100px;
    width: 300px;
    padding: 5px;
    margin: 5px;
}

select {
    width: 300px;
    padding: 5px;
    margin: 5px;
    display: block;
    border: black solid 1px;
}

input[type=submit]{
    width: 75px;
    height: 30px;
    padding: 5px;
    margin: 5px;
}

table.log {
    min-width: 700px;
}

table.log > thead > tr > th {
    background-color: #c5c5c5;
    border: solid #2d3748 1px;
    text-align: center;
    padding: 6px;
    margin: 0px;
    font-size: .9em;
}

table.log > tbody > tr > td {
    border: solid #2d3748 1px;
    padding: 6px;
    margin: 0px;
    font-size: .9em;
}
